
<header>
  <hr style="clear:both">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <li class="nav-item">
              <a class="nav-link {% if index %}active{% endif %}" href="{{ url_for('index') }}"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if work %}active{% endif %}" href="{{ url_for('projects') }}"> Projects </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if blog %}active{% endif %}" href="{{ url_for('blog') }}"> Blog </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if about %}active{% endif %}" href="{{ url_for('about') }}"> About Me </a>
            </li>
          </ul>
        </div>
      </nav>
      <hr style="clear:both">
</header> 